.goodusername-input {
    border: 1px solid green;
    border-radius: 5px;
}

.wrongusername-input {
    border: 1px solid red;
    border-radius: 5px;
}

.goodemail-input {
    border: 1px solid green;
    border-radius: 5px;
}

.wrongemail-input {
    border: 1px solid red;
    border-radius: 5px;
}

.cards{
    margin: 1px;
    border: 2px solid wheat;
    background-color: azure;
    border-radius: 5px;
    height: 640px;
    width: 400px;
    padding-left: 12px;
    float: left;
}
.cards img{
    width: 400px;
    height: 150px;
    object-fit: contain;
}